.venv/               # 虚拟环境文件夹，很大，不要上传git
__pycache__/    # Python自动生成的缓存文件夹
*.pyc                # 所有 .pyc 缓存文件
.env                  # ！！最重要！用来存放API密钥的文件，防止密钥上传泄露
*.log                 # 日志文件
data/                # 存放本地数据，不上传